@charset "utf-8";
/* CSS Document */

/*位置指示条开始*/
#positon {
	font-size:14px;
	background:#F6F6F6;
	border: 1px solid #DDD;
	padding: 7px 0px 7px 17px;
	margin:10px 0px 10px 0px;
}
#positon a {
	color: #666;
}
#positon .lastpositon {
	color: #C71610;
}
/*位置指示条结束*/
/*会员中心左导航开始*/
#mnav_left {
	width:192px;
	float:left;
}
#mnav_left h3 {
	font-size: 16px;
	background:#E50007;
	height: 34px;
	line-height: 34px;
	color: #FFF;
	font-weight: bold;
	text-align: center;
}
#mnav_left h3 span {
	font-size: 12px;
	font-weight: normal;
	padding-left: 7px;
}
#mnav_left h3 a {
	color:#fff;
}
#mnav_left dl {
	border: 1px solid #D0D0D0;
}
#mnav_left dl dt {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #333;
	background: url(../images/member_42.jpg) no-repeat scroll 0% 0% transparent;
	height: 30px;
	line-height: 30px;
}
#mnav_left dl dd {
	line-height: 24px;
	background:url(../images/jiantou_51.jpg) no-repeat scroll 31px 8px transparent;
	padding-left: 42px;
}
#mnav_left dl dd a {
	color:#666;
}
#mnav_left dl dd a:hover {
	color:#9B1418;
}
/*会员中心左导航结束*/
	/*会员中心右内容开始*/
	.mcontent_right {
	min-height:300px;
	color:#666;
	font-size:14px;
	width:998px;
	float:left;
	margin:0px 0px 80px 10px;
}
.mcontent_right h3 {
	margin:10px;
	color:#333;
}
.mcontent_right a {
	color:#3385FF;
}
/*会员中心右内容结束*/
/*会员中心欢迎栏开始*/
.wel_top {
	font-size:14px;
	height: 33px;
	line-height:33px;
	background: url(../images/member_39.jpg) repeat-x scroll 0% 0% transparent;
	border-bottom: 1px solid #DADADA;
	letter-spacing:1px;
}
.wel_top strong {
	color: #C80606;
	margin:0px 10px 0px 10px;
}
.wel_top span {
	margin-left:450px;
}
/*会员中心欢迎栏结束*/
/*我的收藏开始*/
.collect p {
	padding: 0px 15px 0px 5px;
}
.collect p label {
	margin-right:5px;
}
.collect p label input {
	margin:3px;
}
.collect p a {
	background:#E50007;
	color:#fff;
	margin:6px;
	text-decoration:none;
	display:inline-block;
	height: 22px;
	line-height:22px;
	padding: 0px 18px;
}
.collect p a:hover {
	text-decoration:none;
	color: white;
}
.collect table {
	border:1px solid #ccc;
	border-collapse:collapse;
	margin-left:8px;
	width:95%;
}
.collect table thead {
	background:#FFF3EE;
	line-height:32px;
	font-weight:bold;
}
.collect table thead tr td {
	padding-left:15px;
	text-align: center;
}
.collect table tbody tr {
	border-top:1px solid #ccc;
}
.collect table tbody tr td {
	padding-left:15px;
	text-align: center;
}
.collect .price {
	color:#D80000;
}
.collect .col_n {
	width:350px;
}
.collect .btn_s a {
	margin:0 5px;
}
/*我的收藏结束*/
/*我的订单开始*/
.order .order_select {
	margin:10px;
}
.order .order_select select {
	height:25px;
	width:150px;
}
.order .order_select input {
	cursor:pointer;
	height:25px;
	width:40px;
	border:0px;
	background:#f00;
	color:#fff;
}
.order ul li {
	font-size:14px;
	cursor:pointer;
	list-style-type:none;
	float:left;
	margin-left:10px;
	line-height:30px;
	text-align:center;
	width:120px;
}
.order table {
	border:1px solid #ccc;
	text-align:center;
	color:#333;
	border-collapse:collapse;
	font-size:14px;
	width:95%;
	margin:10px;
}
.order table thead tr {
	border-bottom:1px solid #ccc;
	background:#FFF3EE;
	color: #000;
	height: 32px;
	padding-bottom:2px;
}
.order table tbody tr {
	border-bottom:1px solid #ccc;
	line-height:32px;
}
.order table tbody .tprice {
	color:#c00;
}
.order p {
	line-height:32px;
	text-align:right;
	font-size:14px;
	padding-right:20px;
}
.order p b {
	color: #D7261E;
}
/*我的订单结束*/
/*订单详情开始*/
.order_info p {
	text-align:right;
	padding-right:80px;
	margin:10px;
}
.order_info table {
	border:1px solid #ccc;
	border-collapse:collapse;
	text-align:center;
	width:95%;
}
.order_info table thead tr {
	border-bottom:1px solid #ccc;
	background:#FFF3EE;
	color: #000;
	height: 32px;
	padding-bottom:2px;
	font-size:14px;
}
.order_info table tbody tr {
	border-bottom: 1px solid #CCC;
	text-align:center;
}
.order_info table tbody tr .tcol {
	width:200px;
}
.order_info table tbody tr .pro_code {
	width:150px;
}
.order_info table tbody tr .tprice {
	color:#c00;
}
.order_info table tbody tr .detail {
	width:100px;
	
}
.o_result {
	width:95%;
	font-size:14px;
	color:#666;
	background:#F7F7F7;
	text-align:right;
	border:1px solid #ccc;
	height:40px;
	padding-top:10px;
}
.o_result a {
	text-decoration:none;
	color:#fff;
	height:30px;
	width:150px;
	line-height:30px;
	margin:0px 0px 0px 10px;
	text-align:center;
	float:left;
	background:#E50007;
}
.o_result span {
	margin:0px 20px 0px 0px;
	color:#DB261F;
	font-size: 18px;
	font-family:Verdana, Geneva, sans-serif;
}
/*订单详情结束*/
/*个人资料开始*/

.p_data ul {
	font-size:14px;
	list-style-type:none;
	width:950px;
	margin:0 auto;
}
.p_data ul li {
	line-height:30px;
	height:30px;
}
.p_data ul li b {
	font-weight:100;
	float: left;
	color: #C00;
	margin-right:10px;
}
.p_data ul li span {
	margin-right:10px;
}
.p_data ul li select {
	border:1px solid #ccc;
	margin-left:5px;
}
.p_data ul li input {
	height:20px;
	border:1px solid #ccc;
	margin-left:5px;
}
.p_data #p_sub {
	cursor:pointer;
	border:0;
	font-size:14px;
	height:25px;
	width:60px;
	background:#F00;
	color:#fff;
	margin:20px 0px 0px 20px;
}
/*个人资料结束*/
/*密码设置开始*/
.m_password ul {
	margin:10px auto;
	text-align:center;
	list-style-type:none;
	font-size:14px;
	float: left;
}
.m_password ul li {
	height:30px;
	padding:5px;
}
.m_password ul li input {
	font-size:14px;
	height:25px;
	border:1px solid #ccc;
}
#password_sub {
	font-size:14px;
	height:25px;
	width:60px;
	margin:10px auto;
	background:#ec0007;
	color:#fff;
	border:0;
	display:block;
	cursor:pointer;
}
/*密码设置结束*/
.add_content {
	display: none;
}
.add_content p {
	margin: 5px;
}
/*地址管理开始*/
.m_add table {
	width:100%;
	border-collapse:collapse;
	text-align:center;
}
.m_add table tr {
	height:32px;
	border:1px solid #ccc;
}
.m_add table thead tr {
	background:#fff3ee;
}
.m_add table tr td a {
	margin:0px 4px;
}
/*地址管理结束*/
/*投诉建议开始*/
.p_complain ul {
	width:600px;
	margin:50px auto;
	text-align:center;
	list-style-type:none;
}
.p_complain ul li h4 {
	text-align:left;
	width:200px;
}
.cont textarea {
	resize:none;
	height:200px;
	width:300px;
}
/*投诉建议结束*/
